.about__activities {
  display: none;
}
.about__right-side {
  h3:last-of-type {
    display: none;
  }
}
h3:contains("Site activity") {
  display: none !important;
}
.classic-about {
  c-stats {
    color: purple;
    background-color: aqua;
    display: flex;
    border-top: 1px solid var(--primary-low);
    border-bottom: 1px solid var(--primary-low);
    padding: 1em 1em;
    margin-bottom: 1em;

    @include breakpoint(tablet) {
      flex-direction: column;
    }

    .d-icon {
      margin-right: 3px;
    }
  }
  table {
    td {
      padding: 0.67em;

      &:not(:first-child) {
        text-align: center;
      }
    }
  }

  .stats-table-footer {
    max-width: 30em;
  }

  &__stats-item {
    flex: 1 0 fit-content;

    @include breakpoint(tablet) {
      margin-bottom: 1em;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
